<h1 [innerText]="title"></h1>

<div class="censored">
    <label>{{ data.message }}</label>
    <p>{{ data.message | wordfilter : data.words }}</p>
</div>


<hr>

<h3>String data for testing purpose</h3>

<div class="censored">
    <label>Is this Bad?</label>
    <p>{{ 'Is this Bad?' | wordfilter : data.words }}</p>
</div>


<div class="censored">
    <label>Is this BAD?</label>
    <p>{{ 'Is this BAD?' | wordfilter : data.words }}</p>
</div>


<div class="censored">
    <label>Is this bad,</label>
    <p>{{ 'Is this Bad,' | wordfilter : data.words }}</p>
</div>


<div class="censored">
    <label>Is this bad.</label>
    <p>{{ 'Is this bad.' | wordfilter : data.words }}</p>
</div>


<div class="censored">
    <label>Is this bad  Bad  baD  bad?  bad,  bad.</label>
    <p>{{ 'Is this bad  Bad  baD  bad?  bad,  bad.' | wordfilter : data.words }}</p>
</div>

