.censored {
    padding: 15px;
    border-bottom: 1px solid #eee;
    font-family: Arial, Helvetica, sans-serif;

    label {
        font-size: 12px;
        margin-left: 8px;
        color: #888;
    }

    p {
        color: rgb(19, 161, 0);
        font-size: 16px;
        padding:8px;
        margin: 0;
    }
}